<h1>Actualiza tu perfil</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :first_name, "Nombre" %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name, "Apellido" %>
        <%= f.text_field :last_name %>

        <%= f.label :email, "Email" %>
        <%= f.text_field :email %>

      <%= f.submit "Guardar Cambios", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>