<li id="<%= company.id %>">
  <span class="commercial_name">
    <b><%= link_to "#{company.commercial_name}", company %></b>
  </span>
  <span class="fiscal_name"><%= company.fiscal_name %></span>
  <span class="description"><%= company.description %></span>
  <% if current_user?(company.user) %>
    <%= link_to "Editar Compañía", edit_company_path(company) %>
  <% end %>
  <%= render "companies/company_delete_button", item: company %>
</li>
