<aside>
  <section>
    <h1><%= @company.commercial_name %></h1>
    <span class="fiscal_name"><%= @company.fiscal_name %></span>
    <span class="description"><%= @company.description %></span>
    <%= link_to "Nuevo Producto", new_product_path(company: @company), class: "btn btn-primary" %>
    <ol class="products">
      <h2>Productos</h2>
      <%= render @products %>
    </ol>
    <%= will_paginate @products %>
  </sectin>
</aside>
