<%= render 'shared/error_messages', object: f.object %>

<%= select_tag "country_selected", options_from_collection_for_select(@countries, "id", "address_name", @country_selected), :prompt => "Seleccione un País", :onchange => "update_states_div(this.value)" %>

<div id="statesDiv">
	<%= render :partial => 'states', :locals => { :f => f  } %>
</div>

<%= f.label :address_name, "Dirección"%>
<%= f.text_area :address_name , :size=> "5x6"%>