<% provide(:title, 'All users') %>
<br/>
<ul>
	<li>
		<% @products.each do |product| %>
			<div>
				<h3><%= product.name %></h3>
				<h6><%= product.stock %></h6>
				<p><%= product.description %></p>
				<%= image_tag product.image_url, :size => "400x500" %>
			</div>
		<% end %>
	</li>
</ul>

<%= will_paginate @products %>