<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
      <ul class="nav pull-right">
        <% if signed_in? %>
          <li><%= link_to "Home", current_user %></li>
          <li><%= link_to "Compañias", new_company_path %></li>
          <li><%= link_to "Direcciones", new_address_path %></li>
          <li><%= link_to "Salir", signout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Registrarse", new_user_path %></li>
          <li><%= link_to "Ingresar", signin_path %></li>
        <% end %> 
      </ul>
      </nav>
    </div>
  </div>
</header>
